# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# JetBrains / PyCharm
.idea/
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/